# Disable automatic http -> https redirects and implement our own
# to save on the http://www. case.
# With auto redirects it does http://www. -> https://www. -> https://.
# With this config it does http://www. -> https://.

# Note that in many cases this may be useless for the .dev domain,
# because the TLD is included in browsers' HSTS preload-list[1].
# [1]: https://en.wikipedia.org/wiki/.dev

{
  auto_https disable_redirects
}

http://brunson.me {
  redir https://brunson.me{uri} 301
}
http://www.brunson.me {
  redir https://brunson.me{uri} 301
}
www.brunson.me {
  redir https://brunson.me{uri} 301
}
brunson.me {
  reverse_proxy brunson-app:3000
}

http://brunson.dev {
  redir https://brunson.dev{uri} 301
}
http://www.brunson.dev {
  redir https://brunson.dev{uri} 301
}
www.brunson.dev {
  redir https://brunson.dev{uri} 301
}
brunson.dev {
  reverse_proxy brunson-app:3000
}

http://brunson.photos {
  redir https://brunson.photos{uri} 301
}
http://www.brunson.photos {
  redir https://brunson.photos{uri} 301
}
www.brunson.photos {
  redir https://brunson.photos{uri} 301
}
brunson.photos {
  reverse_proxy brunson-app:3000
}