mixin link(e, name)
  - const maybeCurrentClass = e === extension ? "current" : undefined;
  a(href=absolutePath(e) class=[name, maybeCurrentClass])= name

doctype html
html(lang="en")
  head
    title #{title} | Jacob Brunson
    link(rel="preload" href="/font/SF.woff2" crossorigin="anonymous" as="font" type="font/woff2")
    link(rel="preload" href="/font/SF-Thin.woff2" crossorigin="anonymous" as="font" type="font/woff2")
    link(rel="preload" href="/font/OpenSans.woff2" crossorigin="anonymous" as="font" type="font/woff2")
    link(rel="stylesheet", href="/css/style.css")
    style.
      #name::after {
        content: "#{absolutePath(extension)}";
      }
  body
    header
      a(href="https://brunson.me")
        h1#name Brunson
      nav
        ul
          li
            +link("me", "about")
          li
            +link("dev", "projects")
          li
            +link("photos", "photos")
        ul
          li
            a(href="https://www.instagram.com/jacobbrunsonburner/" target="_blank")
              img(src="/img/ig.svg" class="social" width="32" height="32" aria-label="Instagram")
            a(href="https://github.com/jacobbrunson/personal-website" target="_blank")
              img(src="/img/gh.svg" class="social" width="32" height="32" aria-label="GitHub")
            a(href="https://www.linkedin.com/in/jacob-brunson-42b61b142/" target="_blank")
              img(src="/img/in.svg" class="social" width="32" height="32" aria-label="LinkedIn")
            a(href="https://www.youtube.com/channel/UC0PM_FnwDoi9fLmsDaiI7Nw" target="_blank")
              img(src="/img/yt.svg" class="social" width="32" height="32"  aria-label="YouTube")
    block content
    block scripts
    