extends layout.pug

block content
  div(id="profile")
    img(id="jacob" src="/img/jacob.jpg" width="256" height="256")
    div(class="vertical")
      h2 Hi, I'm Jacob.
      p I'm a software engineer based in Austin, TX
      p I like scuba diving, making cool things, and taking photos