extends layout.pug

block scripts
  script(src="/js/photos.js")
  if allowDownload
    script.
      const downloadButton = document.createElement("a");
      downloadButton.innerText = "download"
      downloadButton.addEventListener("click", () => {
        const url = lightboxImg.style.backgroundImage.replace(/url\("(.+)"\)/, "$1");
        const name = url.replace(/.+_(.+)\.\w+/, "$1");
        downloadButton.download = name;
        downloadButton.href = url;
      });
      lightbox.appendChild(downloadButton);

block content
  ul(id="gallery")
  #sentinel
  #lightbox
    #lightbox-img